#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.show-specialty {
  cursor: pointer;
  color: #0088cc
}

.show-specialty:hover {
  text-decoration: underline
}

.contact:hover {
  text-decoration: underline;
}

.young {
  display: none;
}

#batman-sucks {
  display: none;
}
