.radio label, .checkbox label {
  padding-left: 40px;
}

.order-speciality-pizza {
  display:none;
}

.order-details {
  display:none;
}

.order-summary {
  display:none;
}
li:hover {
  text-decoration: underline;
}
li {
  cursor: pointer;
  color: #0088cc;
}
