.radio label, .checkbox label {
  padding-left: 40px;
}

.order-specialty-pizza {
  display:none;
}

.order-details {
  display:none;
}

.make-pizza {
  display:none;
}

.order-summary {
  display:none;
}
.show-specialty {
  cursor: pointer;
  color: red;
}

.show-specialty:hover {
  text-decoration: underline
}

.show-make {
  cursor: pointer;
  color: #0088cc
}

.show-make:hover {
  text-decoration: underline
}

li:hover {
  text-decoration: underline;
}
li {
  cursor: pointer;
  color: #0088cc;
}
